.wrap{
    width: 100%;
    height: 100%;
}
.content {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
}
.content-search {
    width: 1202px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.content-logo {
    width: 205px;
    height: 115px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-logo img{
    /* width: 100%; */
    height: 100%;
}
.content-input {
    width: 653px;
    height: 115px;
    box-sizing: border-box;
    padding-left: 138px;
    padding-top: 25px;
    display: flex;
    /* align-items: center */
    justify-content: center;
    flex-direction: column;
}
.search-input {
    width: 515px;
    height: 42px;
    border: 1px solid #ff3f40;
    display: flex;
    align-items: center;
}
.search-input input {
    width: 454px;
    height: 42px;
    border: none;
    outline: none;
    background: none;
    padding-left: 17px;
}
.search-input img {
    padding-right: 21px;
    cursor: pointer;
}
.smallNav {
    width: 515px;
    height: 33px;
    font-size: 14px;
    font-family: "微软雅黑";
    box-sizing: border-box;
    padding-left: 17px;
}
.smallNav ul {
    width: 100%;
    line-height: 36px;
    list-style: none;
}
.smallNav ul li {
    width: 81px;
    float: left;
}
.ShoppingCart {
    width: 125px;
    height: 42px;
    border: 1px solid #ff3f40;
    margin-top: 32px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.ShoppingCart img {
    margin-left: 16px;
}
.ShoppingCart span {
    margin-left: 18px;
    color: #ff3f40;
    font-size: 14px;
}
.ShoppingCart-position{
    width: 350px;
    line-height: 100px;
    background-color: #ffffff;
    z-index: 999;
    position: absolute;
    /* border: 1px solid #e8e8e8;
    box-shadow: 0 0 5px rgba(0,0,0,.2); */
    padding-left: 30px;
    color: #9b9b9b;
    right: 189px;
    bottom: -60px;
}
.infoNumber {
    width: 15px;
    height: 15px;
    background-color: #ff3f40;
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -7px;
    right: -7px;
}
.code {
    width: 189px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.smallNav ul li a:link {
    color: #999999;
}
.smallNav ul li a:visited {
    color: #999999;
}
.smallNav ul li a:hover {
    color: #c5c5c5;
}
.smallNav ul li a:active {
    color: #999999;
}
.classify{
    width: 100%;
    border-bottom: 3px solid #eb3f3f;
    margin-top: 10px;
}
.categoriesWarp {
    width: 1202px;
    margin: 0 auto;
    display: flex;
}
.all-categories {
    width: 204px;
    height: 42px;
    background-color: #ff4040;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside {
    width: 204px;
    background-color: #ffffff;
    border: 1px solid #e3e5e2;
    box-shadow: 1px 0 0 #e3e5e2;
    /* overflow: hidden; */
    z-index: 999;
    position: absolute;
    left: 18.4%;
}
.aside ul {
    width: 100%;
    /* line-height: 30px; */
    list-style: none;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: "微软雅黑";
}
.aside ul li {
    padding-left: 21px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
}
.aside ul li:hover {
    background-color: #d8d8d8 !important;
}
.aside ul li a:link {
    color: #626262;
}
.aside ul li a:visited {
    color: #626262;
}
.aside ul li a:hover {
    border-bottom: 1px solid #5f5f5f;
}
.aside ul li a:active {
    color: #626262;
}
.list {
    position: relative;
}
.list-select {
    width: 1013px;
    height: 601px;
    background: #ffffff;
    position: absolute;
    right: 17.5%;
    top: 0;
    z-index: 10;
    display: flex;
}
.list-select-left {
    width: 805px;
    height: 600px;
    padding-top: 42px;
    padding-left: 9px;
    box-sizing: border-box;
}
.list-header {
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
}
.list-header span {
    background: #363636;
    margin-left: 10px;
    padding: 7px 13px 6px 9px;
}
.list-header span:first-child {
    margin-left: 0;
}
.lists {
    width: 100%;
    margin-top: 18px;
    white-space: nowrap;
}
.lists span:first-child {
    color: #1d1d1d;
    font-size: 14px;
    font-weight: bold;
    border-left: none;
    padding: 0;
}
.lists span {
    color: #666666;
    font-size: 12px;
    border-left: 1px solid #dfdfdf;
    padding: 3px 10px 2px 9px;
}
.list-select-right {
    width: 193px;
    height: 600px;
    background: #ff3f40;
}
.smallMenu{
    width: 1202px;
    height: 33px;
    margin: 0 auto;
    border-top: 2px solid #f4f4f4;
    line-height: 33px;
    color: #666666;
    letter-spacing: 7px;
    font-size: 12px;
}
.dialog-commodity{
    width: 1202px;
    height: 530px;
    margin: 0 auto;
    margin-top: 13px;
    display: flex;
}
.commodity-planting{
    width: 398px;
    height: 530px;
}
.commodity-img{
    width: 398px;
    height: 398px;
    border: 1px solid #d5d5d5;
    position: relative;
}
.commodity-video{
    width: 61px;
    height: 22px;
    border: 1px solid #ff4040;
    border-radius: 11px;
    background-color: #ff6e6e;
    position: absolute;
    bottom: 26px;
    left: 26px;
    display: flex;
    justify-content: space-between;
}
.commodity-triangle{
    width: 20px;
    height: 20px;
    background-color: #ffa1a1;
    border-radius: 50%;
}
.triangle_border_right{
    width:0;
    height:0;
    border-width:8px 0 8px 8px;
    border-style:solid;
    border-color:transparent transparent transparent transparent;/*透明 透明 透明 灰*/
    position:relative;
  }
.triangle_border_right span{
    display:block;
    width:0;
    height:0;
    border-width:6px 0 6px 6px;
    border-style:solid;
    border-color:transparent transparent transparent #ffffff;/*透明 透明 透明 黄*/
    position:absolute;
    top: -4px;
    left: 0;
}
.commodity-word{
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.commodity-info-planting{
    width: 398px;
    height: 96px;
    border: 1px solid #1d1d1d;
    margin-top: 17px;
}
.commodity-info-planting-word{
    width: 100%;
    line-height: 19px;
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
}
.commodity-info-planting-word span{
    color: #ff6e6e;
    margin-left: 16px;
}
.commodity-info-planting-word span img{
    margin-right: 4px;
}
.commodity-planting-right{
    width: 805px;
    height: 530px;
    display: flex;
}
.introduction{
    width: 609px;
    height: 530px;
    padding: 0 24px;
    box-sizing: border-box;
}
.introduction-head{
    width: 100%;
    line-height: 25px;
    display: flex;
    margin-top: 5px;
}
.introduction-support{
    width: 30px;
    height: 16px;
    border: 1px solid #ff4040;
    color: #ff4040;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 17px;
}
.introduction-head span{
    font-size: 16px;
    color: #333333;
}
.introduction-price{
    width: 100%;
    height: 84px;
    margin-top: 5px;
}
.introduction-price-head{
    width: 100%;
    height: 52px;
    border: 1px solid #ffdbdb;
    background-color: #fde4df;
    line-height: 52px;
    display: flex;
}
.Price_Move{
    font-size: 14px;
    color: #666666;
    margin-right: 34px;
    margin-left: 5px;
}
.MONEY_H{
    font-size: 30px;
    color: #e62828;
}
.introduction-price-bottom{
    width: 100%;
    height: 32px;
    background-color: #fff4f1;
    display: flex;
    align-items: center;
}
.gives{
    margin-left: 75px;
}
.high-ranked{
    color: #666666;
    font-size: 12px;
    margin-left: 13px;
}
.high-color{
    color: #e62828;
}
.giveaways{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #eaeaea;
}
.giveaways-left{
    font-size: 12px;
    color: #666666;
    margin-left: 8px;
}
.giveaways-reduction{
    width: 35px;
    height: 17px;
    border: 1px solid #ff4040;
    background-color: #ff9090;
    color: #ffffff;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-left: 42px;
}
.giveaways-word{
    color: #333333;
    font-size: 12px;
    margin-left: 10px;
}
.giveaways a{
    color: #5978ff;
    font-size: 12px;
    margin-left: 12px;
}
.giveaways-item{
    font-size: 12px;
    color: #999999;
    margin-left: 89px;
}
.giveaways-item span{
    color: #ff4040;
}
.giveaways-item-word{
    font-size: 12px;
    color: #999999;
}
.select-target-focused{
    width: 100%;
    height: 192px;
    border-bottom: 1px dotted #eaeaea;
}
.select-color{
    width: 100%;
    height: 143px;
}
.select-word{
    width: 100%;
    height: 143px;
    font-size: 12px;
    color: #666666;
    display: flex;
    padding-top: 16px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.select-word span{
    width: 60px;
    height: 40px;
    padding-top: 20px;
    box-sizing: border-box;
    margin-left: 10px;
}
.select-item{
    width: 150px;
    height: 40px;
    border: 1px solid #d5d5d5;
    text-align: center;
    line-height: 40px;
    margin-right: 9px;
    position: relative;
}
.select-item:last-child{
    margin-right: 0;
}
.select-item:nth-child(5){
    margin-left: 70px;
}
/* .select-item:nth-child(4){
    border: 1px dotted #d5d5d5
}
.select-item:nth-child(6){
    border: 1px dotted #d5d5d5
} */
.select-item-img{
    width: 14px;
    height: 15px;
    position: absolute;
    bottom: 8px;
    right: -1px;
    user-select: none;
}
.active{
    border: 2px solid #ff4040
}
.net-content{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.net-content-word{
    font-size: 12px;
    color: #666666;
}
.net-content-item{
    width: 50px;
    height: 30px;
    border: 1px solid #d5d5d5;
    text-align: center;
    line-height: 30px;
    position: relative;
    margin-right: 9px;
}
.select-item-img2{
    width: 14px;
    height: 15px;
    position: absolute;
    bottom: 6px;
    right: -1px;
    user-select: none;
}
.address{
    width: 100%;
    height: 22px;
    margin-top: 22px;
    display: flex;
    align-items: center;
}
.address-word{
    font-size: 12px;
    color: #666666;
}
.address-select{
    width: 114px;
    height: 22px;
    border: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.address-select-word{
    width: 82px;
    height: 22px;
    text-align: center;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
}
.address-select img{
    margin-left: 9px
}
.inventory{
    width: 41px;
    height: 22px;
    color: #333333;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
}
.placeOrder{
    width: 211px;
    height: 22px;
    color: #333333;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
}
.gdelivery{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}
.gdelivery-word{
    font-size: 12px;
    color: #999999;
    margin-left: 72px;
}
.gdelivery-word2{
    font-size: 12px;
    color: #999999;
    margin-left: 20px;
}
.gdelivery-word2 span{
    color: #5978ff;
}
.amount-commodity{
    width: 100%;
    height: 67px;
    border-bottom: 1px dotted #dedede;
    display: flex;
    align-items: center;
}
.Calculator{
    width: 52px;
    height: 34px;
    border: 1px solid #d5d5d5;
    margin-left: 72px;
    display: flex;
}
.Calculator-input{
    width: 32px;
    height: 32px;
    outline: none;
    background-color: #ffffff;
    text-align: center;
    border: none;
    font-size: 14px;
}
.amount-all{
    width: 21px;
    height: 32px;
    border-left: 1px solid #d5d5d5;
}
.amount-add{
    width: 19px;
    height: 16px;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount-reduce{
    width: 19px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addCar{
    width: 112px;
    height: 34px;
    background-color: #ff4040;
    border-radius: 3px;
    margin-left: 18px;
    border: 1px solid #ef3333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addCar span{
    font-size: 14px;
    color: #ffffff;
    margin-left: 5px;
}
.Barmore{
    width: 196px;
    height: 478px;
    border: 1px solid #d5d5d5;
}
.Barmore-head{
    width: 100%;
    height: 31px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Barmore-head-left{
    font-size: 12px;
    color: #666666;
    margin-left: 9px;
}
.Barmore-head-right{
    color: #999999;
    font-size: 12px;
    margin-right: 9px;
}
.Barmore-content{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 23px;
    box-sizing: border-box;
}
.Barmore-content-word{
    width: 100%;
    line-height: 27px;
    color: #999999;
    font-size: 12px;
    text-align: center;
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding: 0 9px;
}
.Barmore-price{
    width: 100%;
    line-height: 32px;
    text-align: center;
    color: #ff4040;
    font-size: 12px;
}
.secondary{
    width: 1202px;
    height: 36px;
    line-height: 36px;
    color: #666666;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 69px;
    border-bottom: 1px solid #d5d5d5;
}
.secondary-vertical{
    width: 4px;
    height: 16px;
    background-color: #ff4040;
    margin-right: 7px;
}
.recommended{
    width: 1202px;
    height: 300px;
    margin: 0 auto;
    display: flex;
}
.recommended-item{
    width: 25%;
    height: 300px;
    padding: 20px 35px;
    box-sizing: border-box;
}
.recommended-item-word{
    width: 170px;
    font-size: 12px;
    color: #333333;
    line-height: 20px;
}
.recommended-item-price{
    font-size: 12px;
    color: #ff4040;
    line-height: 25px;
}
.recommended-item-button{
    width: 89px;
    height: 27px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    color: #333333;
    margin: 0 auto;
    margin-top: 9px;
}
.Introduction{
    width: 1202px;
    margin: 0 auto;
    display: flex;
}
.Introduction-left{
    width: 219px;
    border: 1px solid #d5d5d5;
}
.Introduction-left-header{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 21px;
    box-sizing: border-box;
    border-bottom: 1px solid #d5d5d5;
}
.Introduction-content{
    width: 107px;
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 14px;
    color: #333333;
}
.Proprietary{
    width: 28px;
    height: 16px;
    border: 1px solid #ff6e6e;
    text-align: center;
    line-height: 14px;
    color: #333333;
    font-size: 12px;
}
.Welcome{
    width: 100%;
    height: 86px;
    border-bottom: 2px solid #d5d5d5;
}
.Welcome-word{
    width: 100%;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
    box-sizing: border-box;
}
.enterstep{
    width: 85px;
    height: 28px;
    border: 1px solid #ff4040;
    border-radius: 3px;
    background-color: #ff6e6e;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 10px;
}
.Otherwise{
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0 6px;
    border-bottom: 1px solid #d5d5d5;
    box-sizing: border-box;
    font-size: 14px;
    color: #999999;
}
.numbered-list{
    width: 100%;
    height: 249px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
}
.numbered-list-describe{
    width: 100%;
    line-height: 45px;
    font-size: 12px;
    color: #999999;
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-align: center;
    padding: 0 15px;
}
.numbered-list-price{
    width: 100%;
    line-height: 15px;
    font-size: 12px;
    color: #ff4040;
    padding-left: 15px
}
.Introduction-right{
    width: 983px;
    margin-left: 9px;
}
.acf-tab{
    width: 983px;
    height: 43px;
    border: 1px solid #d5d5d5;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}
.tab-bar {
    width: 100%;
    height: 43px;
    box-sizing: border-box
}
.tab-bar a {
    width: 109px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    text-decoration: none;
    color: #333333;
    display: inline-block;
    font-size: 14px;
    border-right: 1px solid #d5d5d5;
}
.tab-bar .tabActive {
    background-color: #ff4040;
    color: #ffffff!important;
}
.tab-con-head{
    width: 100%;
    height: 117px;
    border: 1px solid #d5d5d5;
    margin-top: 22px;
    padding: 0 9px;
    box-sizing: border-box;
}
.specifications{
    width: 100%;
    height: 31px;
    line-height: 31px;
    color: #666666;
    font-size: 14px;
}
.big-introduction{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.introduction-two{
    width: 33.3%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
}
.tab-con-img{
    width: 100%;
    height: 1766px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Characters{
    width: 519px;
    height: 140px;
    border: 1px solid #1d1d1d
}
.tab-table{
    width: 100%;
    height: 263px;
    border: 1px solid #d5d5d5;
    background-color: #f7f7f7;
    padding: 18px 15px;
}
.tab-table-head{
    width: 100%;
    height: 22px;
    line-height: 22px;
    color: #363636;
    background-color: #dcdcdc;
    font-size: 12px;
    font-weight: bold;
    padding-left: 21px;
    box-sizing: border-box;
}
.tab-table-item{
    width: 100%;
    height: 23px;
    border-bottom: 1px solid #cbcbcb;
    display: flex;
    align-items: center;
}
.tab-table-item-left{
    width: 181px;
    line-height: 23px;
    font-size: 12px;
    color: #363636;
    padding-left: 21px;
    border-right: 1px solid #cbcbcb;
}
.tab-table-item-right{
    font-size: 12px;
    color: #363636;
    margin-left: 9px;
}
.Packing-list{
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: #565656;
    font-size: 12px;
    font-weight: bold;
    padding-left: 6px;
    box-sizing: border-box;
}
.Packing-number{
    width: 100%;
    height: 31px;
    line-height: 31px;
    color: #565656;
    font-size: 12px;
    padding-left: 6px;
    box-sizing: border-box;

}
.paragraph{
    width: 100%;
    border: 1px solid #d5d5d5;
    background-color: #f7f7f7;
    padding: 0 18px;
    box-sizing: border-box;
    margin-top: 19px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.paragraph-title{
    width: 100%;
    height: 41px;
    line-height: 41px;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}
.paragraph-content{
    width: 100%;
    line-height: 21px;
    font-size: 12px;
    color: #333333;
    font-weight: 500;
}
.highest{
    width: 100%;
    height: 155px;
    background-color: #f7f7f7;
    border: 1px solid #d5d5d5;
    margin-top: 16px;
    display: flex;
}
.highest-left{
    width: 164px;
    height: 155px;
    padding: 14px 0 14px 22px;
    box-sizing: border-box;
    display: flex;
}
.rate_n{
    width: 116px;
    height: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rate_word{
    width: 100%;
    line-height: 28px;
    font-size: 14px;
    color: #ff4040;
    text-align: center;
    margin-top: 9px;
}
.Percentage{
    width: 100%;
    line-height: 50px;
    color: #ff4040;
    font-size: 40px;
    text-align: center;
}
.Percentage span{
    font-size: 16px;
    color: #ff4040;
    margin-left: 5px;
}
.rate_word_bottom{
    width: 100%;
    line-height: 25px;
    color: #666666;
    font-size: 12px;
    text-align: center;
}
.everyone-feels{
    width: 26px;
    height: 121px;
    font-size: 12px;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d5d5d5;
}

.triangle_border_right{
    width:0;
    height:0;
    border-width:4px 0 4px 4px;
    border-style:solid;
    border-color:transparent #d5d5d5 transparent transparent;/*透明 透明 透明 灰*/
    position:relative;
  }
.triangle_border_right span{
    display:block;
    width:0;
    height:0;
    border-width:4px 4px 4px 0;
    border-style:solid;
    border-color:transparent #d5d5d5 transparent transparent;/*透明 透明 透明 黄*/
    position:absolute;
    top: -4px;
    left: 13px;
}
.highest-right{
    width: 820px;
    height: 121px;
    margin-top: 14px;
    padding-top: 9px;
    padding-left: 21px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.highest-right-item{
    width: 92px;
    height: 26px;
    border: 1px solid #d5d5d5;
    border-radius: 15px;
    font-size: 12px;
    color: #666666;
    text-align: center;
    line-height: 24px;
    margin-right: 8px;
}
.Category{
    width: 100%;
    height: 500px;
    margin-top: 16px;
}
.Category-head{
    width: 100%;
    height: 32px;
    display: flex;
    border-bottom: 1px solid #d9d9d9;
}
.tab-bar2 {
    width: 70%;
    height: 32px;
}
.tab-bar2 a {
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    color: #656565;
    display: inline-block;
    font-size: 12px;
}
.categoryActive{
    color: #ff3d3f;
    border-bottom: 2px solid #ff3d3e;
}
.checkRadio{
    display: flex;
    align-items: center;
    justify-content: center
}
.current{
    width: 30%;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #656565;
    text-align: right;
}
.Category-content{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.mastheader{
    width: 96px;
    height: 218px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.redheads{
    width: 50px;
    height: 50px;
    background: #000000;
    border-radius: 50%;
    margin-top: 22px;
}
.mastheader-word{
    font-size: 12px;
    color: #363636;
    margin-top: 9px;
}
.page-content{
    width: 886px;
    border-bottom: 1px solid #f3f3f3;
}
.page-content-head{
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: #666666;
    font-size: 12px;
    background-color: #fff7f7;
    margin-top: 20px;
}
.page-content-test{
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: #666666;
    font-size: 12px;
    margin-top: 20px;
}
.page-content-img{
    width: 100%;
    line-height: 24px;
    color: #666666;
    font-size: 12px;
    margin-top: 20px;
    display: flex;
}
.contentImg{
    width: 445px;
    margin-left: 12px;
    display: flex;
    flex-wrap: wrap;
}
.contentImg-item{
    width: 52px;
    height: 52px;
    border: 1px solid #d8d8d8;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 2px;
    box-sizing: border-box;
}
.modelTypes{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #989898;
    padding-left: 48px;
    margin-bottom: 16px;
    box-sizing: border-box;
}