.openfather {
    position: relative;
  }
  .openDown {
    width: 204px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 480px;
    font-size: 12px;
    text-align: center;
    background-color: #ffffff;
    line-height: 30px;
    z-index: 999;
  }
  .openDown img {
    width: 15px;
  }
  a {
    text-decoration: none;
  }
  .advert {
    width: 100%;
    height: 120px;
    background: url("../../assets/images/Advertisement.jpg") no-repeat center 0;
  }
  .advertContent {
    width: 1202px;
    height: 120px;
    margin: 0 auto;
  }
  .advertClose {
    width: 100%;
    height: 120px;
    /* overflow: hidden; */
  }
  .advertClose img {
    float: right;
    cursor: pointer;
    margin-top: 16px;
    margin-right: 8px;
  }
  .content {
    width: 100%;
    height: 100%;
    background-color: #f0f3ef;
    position: relative;
  }
  .application{
    position: fixed;
    width: 34px;
    height: 178px;
    right: 0;
    top: 271px;
    z-index: 998;
  }
  .application-item{
    width: 34px;
    height: 34px;
    border-radius: 3px;
    background-color: #7a6e6e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
  }
  .application-item2{
    width: 34px;
    height: 34px;
    border-radius: 3px;
    background-color: #7a6e6e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    position: fixed;
    bottom: 10%;
  }
  .application-info{
    width: 54px;
    height: 34px;
    position: absolute;
    top: 0;
    background-color: #e23535;
    right: 30px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
  }
  .application-info2{
    width: 54px;
    height: 34px;
    position: absolute;
    top: 36px;
    background-color: #e23535;
    right: 30px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
  }
  .application-info3{
    width: 54px;
    height: 34px;
    position: absolute;
    top: 72px;
    background-color: #e23535;
    right: 30px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
  }
  .application-info4{
    width: 54px;
    height: 34px;
    position: absolute;
    top: 108px;
    background-color: #e23535;
    right: 30px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
  }
  .application-info5{
    width: 54px;
    height: 34px;
    position: absolute;
    top: 144px;
    background-color: #e23535;
    right: 30px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
  }
  .applicationHover{
    background-color: #e23535;
  }
  .triangle_border_right{
    width:0;
    height:0;
    border-width:10px 0 10px 10px;
    border-style:solid;
    border-color:transparent transparent transparent transparent;/*透明 透明 透明 灰*/
    position:relative;
  }
  .triangle_border_right span{
    display:block;
    width:0;
    height:0;
    border-width:8px 0 8px 8px;
    border-style:solid;
    border-color:transparent transparent transparent #7a6e6e;/*透明 透明 透明 黄*/
    position:absolute;
    top: -34px;
    left: 73px;
  }
  .siedCart{
    width: 234px;
    height: 100%;
    background-color: #f0f3ef;
    border-left: solid 1px #7C8994;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: -4px 0 2px rgba(0,0,0,.25);
    z-index: 997;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .siedCart-header{
    width: 100%;
    height: 39px;
    font-size: 16px;
    color: #666666;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px dotted #cccccc;
    background-color: #dadada;
    display: flex;
    align-items: center;
  }
  .closeSideCart{
    width: 16px;
    height: 16px;
    margin-left: 60px;
  }
  .closeSideCart img{
    width: 100%;
    height: 100%;
  }
  .siedCartImg{
    width: 21px;
    height: 19px;
    margin-right: 12px;
  }
  .siedCartImg img{
    width: 100%;
    height: 100%;
  }
  .content-search {
    width: 1202px;
    margin: 0 auto;
    display: flex;
    position: relative;
  }
  .content-logo {
    width: 205px;
    height: 115px;
    background-color: #ffffff;
    box-shadow: 1px 0 0 #e3e5e2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .content-logo img{
    width: 100%;
  }
  .categoriesWarp {
    width: 1202px;
    margin: 0 auto;
    display: flex;
  }
  .all-categories {
    width: 204px;
    height: 42px;
    background-color: #ff4040;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .categories-right {
    width: 998px;
    height: 42px;
    font-size: 14px;
    font-family: "微软雅黑";
    box-sizing: border-box;
    line-height: 42px;
    padding-left: 17px;
  }
  .categories-right ul {
    width: 100%;
    list-style: none;
  }
  .categories-right ul li {
    width: 81px;
    float: left;
  }
  .categories-right ul li a{
    color: #333333;
    font-weight: 900;
  }
  .categories-right ul li a:hover{
    color: #8a8a8a;
  }
  .content-input {
    width: 653px;
    height: 115px;
    box-sizing: border-box;
    padding-left: 138px;
    padding-top: 25px;
    display: flex;
    /* align-items: center */
    justify-content: center;
    flex-direction: column;
  }
  .search-input {
    width: 515px;
    height: 42px;
    border: 1px solid #ff3f40;
    display: flex;
    align-items: center;
  }
  .search-input input {
    width: 454px;
    height: 42px;
    border: none;
    outline: none;
    background: none;
    padding-left: 17px;
  }
  .search-input img {
    padding-right: 21px;
    cursor: pointer;
  }
  .smallNav {
    width: 515px;
    height: 33px;
    font-size: 14px;
    font-family: "微软雅黑";
    box-sizing: border-box;
    padding-left: 17px;
  }
  .smallNav ul {
    width: 100%;
    line-height: 36px;
    list-style: none;
  }
  .smallNav ul li {
    width: 81px;
    float: left;
  }
  .ShoppingCart {
    width: 125px;
    height: 42px;
    border: 1px solid #ff3f40;
    margin-top: 33px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .ShoppingCart img {
    margin-left: 16px;
  }
  .ShoppingCart span {
    margin-left: 18px;
    color: #ff3f40;
    font-size: 14px;
  }
  .ShoppingCart-position{
    width: 290px;
    height: 273px;
    line-height: 100px;
    background-color: #ffffff;
    z-index: 999;
    position: absolute;
    /* border: 1px solid #e8e8e8;
    box-shadow: 0 0 5px rgba(0,0,0,.2); */
    padding-left: 5px;
    padding-top: 7px;
    color: #9b9b9b;
    right: 189px;
    top: 79px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  .ShoppingCart-position-head{
    width: 100%;
    height: 39px;
    line-height: 39px;
    color: #353535;
    font-size: 14px;
    padding-left: 5px;
    box-sizing: border-box;
  }
  .noShopping{
    padding-left: 20px;
  }
  .ShoppingCart-goods{
    width: 100%;
    height: 73px;
    border-bottom: 1px dotted #d2d2d2;
    display: flex;
    align-items: center;
  }
  .ShoppingCart-goods-left{
    width: 54px;
    height: 54px;
    border: 1px solid #eeeeee;
    display: flex;
    align-items: center;
  }
  .ShoppingCart-goods-left img{
    width: 100%;
    height: 100%;
  }
  .ShoppingCart-goods-center{
    width: 138px;
    line-height: 20px;
    font-size: 12px;
    color: #333333;
    padding-left: 7px;
  }
  .ShoppingCart-goods-center a{
    color: #333333;
  }
  .ShoppingCart-goods-center a:hover{
    color: #ff3f40;
  }
  .ShoppingCart-goods-right{
    width: 80px;
    height: 54px;
  }
  .ShoppingCart-price{
    width: 100%;
    line-height: 12px;
    color: #333333;
    font-size: 12px;
    text-align: center;
  }
  .ShoppingCart-del{
    width: 100%;
    line-height: 40px;
    color: #333333;
    font-size: 12px;
    text-align: right;
  }
  .ShoppingCart-del:hover{
    color: #ff3f40;
  }
  .ShoppingCart-small{
    width: 125px;
    height: 5px;
    z-index: 1000;
    background-color: #ffffff;
    position: absolute;
    right: 189px;
    bottom: 35px;
  }
  .writeHover{
    border-left: 1px solid #ff3f40;
    border-right: 1px solid #ff3f40;
  }
  .bgHover{
    background-color: #ffffff;
    border-bottom: none;
  }
  .infoNumber {
    width: 15px;
    height: 15px;
    background-color: #ff3f40;
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -7px;
    right: -7px;
  }
  .code {
    width: 189px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .content-aside {
    width: 1202px;
    height: 600px;
    margin: 0 auto;
    display: flex;
  }
  .aside {
    width: 204px;
    height: 480px;
    background-color: #ffffff;
    box-shadow: 1px 0 0 #e3e5e2;
    /* overflow: hidden; */
    z-index: 999;
    position: relative;
  }
  .aside ul {
    width: 100%;
    /* line-height: 30px; */
    list-style: none;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: "微软雅黑";
  }
  .aside ul li {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    font-size: 12px;
  }
  .aside ul li:hover {
    background-color: #d8d8d8 !important;
  }
  .aside ul li a:link {
    color: #626262;
  }
  .aside ul li a:visited {
    color: #626262;
  }
  .aside ul li a:hover {
    border-bottom: 1px solid #5f5f5f;
  }
  .aside ul li a:active {
    color: #626262;
  }
  .aside-right {
    width: 998px;
    height: 600px;
  }
  .aside-planting {
    width: 998px;
    height: 600px;
    display: flex;
  }
  .aside-planting2 {
    width: 998px;
    height: 408px;
    display: flex;
  }
  .planting {
    width: 789px;
    height: 600px;
  }
  .planting2 {
    width: 789px;
    height: 398px;
  }
  .planting-right {
    width: 190px;
    height: 600px;
    margin-left: 9px;
  }
  .planting-right2 {
    width: 190px;
    height: 398px;
    margin-left: 9px;
  }
  .person-info{
    width: 190px;
    height: 600px;
    border: 1px solid #ececec;
    background-color: #ffffff;
  }
  .head-portrait{
    width: 190px;
    height: 148px;
    border-bottom: 1px solid #ededed
  }
  .portrait{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .portrait-back{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 9px;
  }
  .portrait-user{
    width: 100%;
    font-size: 14px;
    color: #333333;
    text-align: center;
    letter-spacing: 2px
  }
  .user-info{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: 12px;
  }
  .user-info span{
    color: #333333;
    font-size: 12px;
    font-family: "宋体";
    /* margin-left: 4px; */
    letter-spacing: 2px;
  }
  .user-info2{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
  }
  .user-info2 span{
    color: #333333;
    font-size: 12px;
    font-family: "宋体";
    /* margin-left: 4px; */
    letter-spacing: 2px;
  }
  .balance{
    width: 52%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .grade{
    width: 48%;
  }
  .company{
    width: 52%;
  }
  .integral{
    width: 48%;
  }
  /* .user-info-one{
    width: 50%;
  } */
  .order-status{
    width: 190px;
    height: 106px;
    border-bottom: 1px solid #ededed;
    /* padding-left: 10px; */
    box-sizing: border-box;
  }
  .order-status-header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #333333;
    font-weight: bold;
    margin-left: 10px;
  }
  .order-status-bottom{
    width: 100%;
    display: flex;
    margin-top: 7px;
  }
  .order-status-item{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .order-status-item span{
    font-size: 12px;
    color: #333333;
    line-height: 32px;
  }
  .personal-shortcut{
    width: 190px;
    height: 164px;
    border-bottom: 1px solid #ededed
  }
  .personal-shortcut-item{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .personal-shortcut-item span{
    font-size: 12px;
    color: #bea68d;
    line-height: 32px;
  }
  .welfare-consultation{
    width: 190px;
    height: 180px;
    padding-left: 9px;
    box-sizing: border-box;
  }
  .welfare-consultation-header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding-right: 11px;
    box-sizing: border-box;
  }
  .welfare-consultation-header span{
    color: #333333;
  }
  .welfare-consultation-header a{
    color: #666666;
  }
  .welfare-consultation-item{
    width: 100%;
    display: flex;
  }
  .welfare-consultation-item-left{
    width: 30px;
    height: 16px;
    background-color: #ff7c7c;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
  }
  .welfare-consultation-item-right{
    font-size: 12px;
    color: #333333;
    margin-left: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .welfare-consultation-item-back{
    width: 30px;
    height: 16px;
    background-color: #ff926c;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
  }
  .welfare-consultation-item-backs{
    width: 30px;
    height: 16px;
    background-color: #889eff;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
  }
  .planting-img-top {
    width: 190px;
    height: 195px;
    background: #ff3f40;
  }
  .planting-img-top .Mask:hover{
    opacity: 0.2;
  }
  .planting-img-bottom .Mask:hover{
    opacity: 0.2;
  }
  .planting-img-bottom {
    width: 190px;
    height: 192px;
    position: relative;
  }
  .planting-img-bottom img{
    width: 190px;
    height: 192px;
  }
  .Mask{
    width: 190px;
    height: 193px;
    background-color: #ffffff;
    opacity: 0;
    position: absolute;
  }
  .planting-bottom {
    width: 998px;
    height: 192px;
    display: flex;
  }
  .planting-bottom-left {
    width: 389px;
    height: 192px;
    background: #000000;
    position: relative;
  }
  .planting-mask{
    width: 100%;
    height: 192px;
    background-color: #ffffff;
    position: absolute;
    opacity: 0;
  }
  .planting-bottom-left .planting-mask:hover{
    opacity: 0.2;
  }
  .activity{
    width: 1202px;
    height: 338px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 32px;
  }
  .activity .category{
    line-height: 60px;
    color: #333333;
    font-size: 22px;
    margin-left: 20px;
  }
  .categoryimg{
    width: 1180px;
    height: 266px;
    margin-left: 10px;
  }
  .content-spike {
    width: 1202px;
    height: 339px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
  }
  .CountDown {
    width: 204px;
    height: 339px;
    background-color: #f20b0b;
    padding-top: 40px;
    box-sizing: border-box;
  }
  .CountDown img{
    margin-left: 32px;
  }
  .ticking{
    width: 204px;
    height: 40px;
    margin-top: 54px;
    padding-left:17px; 
    box-sizing: border-box;
    display: flex;
  }
  .ticking-frame{
    width: 40px;
    height: 40px;
    background-color: #2f3430;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 20px;
    font-family: '微软雅黑'
  }
  .ticking-colon{
    width: 25px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
  }
  .commodity{
    width: 250px;
    height: 339px;
    background-color: #ffffff;
    border-right: 1px solid #f0f3ef;
    margin: 0 auto;
    padding-top: 40px; 
    box-sizing: border-box;
  }
  .commodity img{
    margin-left: 35px;
    box-sizing: border-box;
  }
  .commodityInfo{
    width: 222px;
    height: 32px;
    line-height: 32px;
    padding-left: 20px;
    margin-left: 13px;
    border-bottom: 1px solid #e31436;
    box-sizing: border-box;
  }
  .commodityInfo span{
    width: 150px;
    text-align: center;
    display:block;
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
    color: #666666;
    font-size: 14px;
    font-family: "微软雅黑";
  }
  .original-price{
    width: 222px;
    height: 32px;
    line-height: 32px;
    padding-left: 25px;
    margin-left: 13px;
    box-sizing: border-box;
  }
  .price{
    font-size: 14px;
    color: #666666;
    font-family: "微软雅黑";
    text-decoration: line-through
  }
  .present-price{
    width: 222px;
    height: 32px;
    line-height: 32px;
    padding-left: 25px;
    margin-left: 13px;
    box-sizing: border-box;
    font-size: 22px;
    color: #e31436;
    font-family: "微软雅黑"
  }
  .present-cost{
    margin-left: 28px;
  }
  .single-product{
    width: 1202px;
    height: 452px;
    margin: 0 auto;
    display: flex;
    margin-top: 32px;
  }
  .single-product-item{
    width: 394px;
    height: 452px;
    background-color: #ffffff;
    margin-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
    box-sizing: border-box;
  }
  .single-product-header{
    width: 384px;
    height: 46px;
    line-height: 46px;
    display: flex;
    align-items: center;
  }
  .single-product-img img:hover{
    opacity: 0.7;
  }
  .single-product-header span:first-child{
    font-size: 22px;
    color: #333333;
  }
  .single-product-header span:last-child{
    font-size: 14px;
    color: #999999;
  }
  .single-product-header img{
    margin-left: 8px;
    margin-right: 4px;
  }
  .single-product-center{
    width: 394px;
    height: 452px;
    background-color: #ffffff;
    margin-right: 10px;
    padding-top: 7px;
    padding-left: 15px;
    box-sizing: border-box;
  }
  .clothes{
    width: 365px;
    height: 235px;
    margin-top: 30px;
  }
  .clothes img{
    width: 100%;
    height: 100%;
  }
  .clothes a img:hover{
    opacity: 0.7;
  }
  .clothesmall a img:hover{
    opacity: 0.7;
  }
  .clothesmall{
    width: 365px;
    height: 123px;
    display: flex;
    align-items: center;
  }
  .clothesmall img{
    width: 94px;
    height: 75px;
  }
  .clothesmall a{
    margin-right: 38px;
    display: inline-block;
  }
  .clothesmall a:last-child{
    margin-right: 0;
  }
  .single-product-right{
    width: 394px;
    height: 452px;
    background-color: #ffffff;
    padding-top: 7px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .watch{
    width: 374px;
    height: 350px;
    margin-top: 39px;
  }
  .watch img{
    width: 374px;
    height: 170px;
  }
  .watch img:hover{
    opacity: 0.7;
  }
  .single-watch{
    display:block
  }
  .sub-product{
    width: 377px;
    height: 196px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
  }
  .sub-product a{
    width: 100%;
    display: block
  }
  .sub-product a img{
    width: 100%;
    height: 100%;
  }
  .sub-product img:hover{
    opacity: 0.7;
  }
  .sub-product-bottom{
    width: 377px;
    height: 175px;
    display: flex;
  }
  .sub-product-bottom img{
    width: 189px;
    height: 175px;
  }
  .sub-product-bottom img:hover{
    opacity: 0.7;
  }
  .list {
    position: relative;
  }
  .list-select {
    width: 1013px;
    height: 601px;
    background: #ffffff;
    position: absolute;
    left: 204px;
    bottom: 0;
    z-index: 10;
    display: flex;
  }
  .list-select-left {
    width: 805px;
    height: 600px;
    padding-top: 42px;
    padding-left: 9px;
    box-sizing: border-box;
  }
  .list-header {
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
    display: flex;
  }
  .list-header span {
    background: #363636;
    margin-left: 10px;
    padding: 7px 13px 6px 9px;
  }
  .list-header span a{
    color: #ffffff;
  }
  .list-header span:first-child {
    margin-left: 0;
  }
  .lists {
    width: 100%;
    display: flex;
  }
  .lists-title {
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: #1d1d1d;
    font-size: 14px;
    font-weight: bold;
    border-left: none;
    padding: 0;
    text-align: right;
  }
  .lists-item-father{
    width: 715px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .lists-item {
    /* width: 46px; */
    /* height: 16px; */
    color: #666666;
    font-size: 12px;
    border-left: 1px solid #dfdfdf;
    /* padding: 3px 10px 2px 9px; */
    padding: 0 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 0;
  }
  .lists-item a{
    color: #666666;
  }
  .list-select-right {
    width: 193px;
    height: 423px;
    background: #ff3f40;
  }
  .rotation{
    position: relative;
  }
  .screen-rotation{
    width: 100%;
    height: 599px;
    position: absolute;
    bottom: 0
  }
  .mother-care{
    width: 1202px;
    height: 68px;
    margin: 0 auto;
    display: flex;
  }
  .personal-care{
    line-height: 68px;
    font-size: 24px;
    color: #333333;
  }
  .search-words ul {
    width: 100%;
    line-height: 30px;
    list-style: none;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: "微软雅黑";
    margin-top: 22px;
  }
  .search-words ul li {
    padding-left: 21px;
    /* height: 30px; */
    float: left;
    color: #999999;
    box-sizing: border-box;
  }
  .search-words ul li a{
    color: #999999;
  }
  .search-words ul li a:hover{
    color: #c5c4c4;
  }
  .child-care{
    width: 1202px;
    height: 480px;
    margin: 0 auto;
    display: flex;
  }
  .child-care-left{
    width: 396px;
    height: 480px;
    background-color: #ffffff;
    margin-right: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  .feeding{
    width: 100%;
    display: flex
  }
  .feeding-banner{
    width: 170px;
    height: 180px;
    margin-right: 15px;
  }
  .feeding-banner:last-child{
    margin-right: 0;
  }
  .feeding img{
    width: 100%;
    height: 180px;
    display: block;
  }
  .feeding img:hover{
    opacity: 0.7;
  }
  .squared-child{
    width: 354px;
    height: 235px;
    border: 1px solid #eeeeee;
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
  }
  .squared-child-item{
    width: 33.3%;
    height: 79px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  /* .squared-child-item:last-child{
    border: none; 
  } */
  .squared-child-item:nth-child(3n){
    border-right: none;
  }
  .squared-child-item img:hover{
    opacity: 0.7;
  }
  .squared-child-item img{
    width: 100%;
    height: 100%;
  }
  .child-care-right{
    width: 787px;
    height: 480px;
    background: #ffffff;
    border: 1px solid #eeeeee;
  }
  .mother-commodity{
    width: 100%;
    height: 241px;
    border-bottom: 1px solid #efefef;
    display: flex;
    flex-wrap: wrap;
  }
  .mother-commodity2{
    width: 100%;
    height: 240px;
    display: flex;
  }
  .mother-commodity-item{
    width: 25%;
    height: 241px;
    border-right: 1px solid #efefef;
    padding-top: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  .mother-commodity-item:last-child{
    border: none;
  }
  .commodity-mask{
    width: 91%;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    top: 90px;
    z-index: 998;
  }
  .commodity-mask-word{
    font-size: 14px;
    margin-top: 20px;
  }
  .fade-enter-active, .fade-leave-active{
    transition: opacity 1s;
  }
  .fade-enter, .fade-leave-to{
    opacity: 0;
  }
  .commodity-introduce{
    line-height: 22ox;
    font-size: 12px;
    color: #333333;
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
  }
  .commodity-info{
    width: 180px;
    position: absolute;
    bottom: -39px;
    transition: all 0.3s ease;
  }
  .shapp{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .isCart{
    position: absolute;
    display: flex;
    align-items: center;
    line-height: 39px;
    right: 0;
  }
  .showCart{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid red;
    color: red;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .price-cart{
    width: 100%;
    line-height: 39px;
    box-sizing: border-box;
    color: #f20b0b;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .price-cart2{
    line-height: 39px;
    box-sizing: border-box;
    color: #f20b0b;
    font-size: 16px;
  }
  .Featured{
    width: 1202px;
    height: 68px;
    margin: 0 auto;
    display: flex;
  }
  .Featured-left{
    width: 516px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .Featured-left-item{
    width: 82px;
    height: 4px;
    background-color: #333333;
  }
  .Featured-center{
    width: 171px;
    height: 68px;
    text-align: center;
    line-height: 68px;
    font-size: 24px;
    color: #333333;
  }
  .Featured-right{
    width: 516px;
    height: 68px;
    display: flex;
    align-items: center;
  }
  .Featured-right-item{
    width: 82px;
    height: 4px;
    background-color: #333333;
  }
  .pick-week{
    width: 1202px;
    height: 380px;
    margin: 0 auto;
    display: flex;
  }
  .pick-week-item{
    width: 391px;
    height: 380px;
    background-color: #ffffff;
    margin-right: 14px;
  }
  .pick-week-item:last-child{
    margin-right: 0;
  }
  .pick-sale{
    margin-top: 10px;
    margin-left: 50px;
  }
  .Featured2{
    width: 1202px;
    height: 129px;
    margin: 0 auto;
    display: flex;
  }
  .Featured-left2{
    width: 516px;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .Featured-left-item2{
    width: 137px;
    height: 1px;
    background-color: #d5d5d5
  }
  .Featured-center2{
    width: 163px;
    height: 129px;
    text-align: center;
    line-height: 129px;
    color: #666666;
    font-size: 16px;
  }
  .Featured-right2{
    width: 516px;
    height: 129px;
    display: flex;
    align-items: center;
  }
  .Featured-right-item2{
    width: 137px;
    height: 1px;
    background-color: #d5d5d5
  }
  /* .itemHover {
    background-color: #d8d8d8 !important;
  } */
  .search-input input::-webkit-input-placeholder {
    color: #666666;
  }
  .search-input input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666666;
  }
  .search-input input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666666;
  }
  .search-input input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666666;
  }
  .smallNav ul li a:link {
    color: #999999;
  }
  .smallNav ul li a:visited {
    color: #999999;
  }
  .smallNav ul li a:hover {
    color: #c5c5c5;
  }
  .smallNav ul li a:active {
    color: #999999;
  }
  .makeup{
    width: 1202px;
    height: 564px;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
  }
  .makeup-left{
    width: 358px;
    height: 564px;
  }
  .makeup-left img{
    width: 100%;
    height: 100%;
  }
  .makeup-right{
    width: 845px;
    height: 564px;
    display: flex;
    flex-wrap: wrap;
  }
  .makeup-right-item{
    width: 415px;
    height: 277px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
  }
  .makeup-right-item:nth-child(2){
    margin-right: 0;
  }
  .makeup-right-item:nth-child(4){
    margin-right: 0;
    margin-bottom: 0;
  }
  .makeup-right-item:nth-child(3){
    margin-bottom: 0;
  }
  .color-one{
    background-color: #fff1ff;
  }
  .color-two{
    background-color: #ffe1e4;
  }
  .color-three{
    background-color: #ecffdb;
  }
  .color-four{
    background-color: #fef3d2;
  }
  .make-word{
    width: 243px;
    height: 277px;
    padding-top: 73px;
    box-sizing: border-box;
  }
  .make-img{
    padding-top: 67px;
    box-sizing: border-box;
  }
  .make-word-one{
    width: 100%;
    line-height: 60px;
    text-align: center;
    color: #8664a8;
    font-size: 30px;
    font-family: 'HiraginoSansGB W3';
  }
  .make-word-two{
    width: 100%;
    line-height: 53px;
    text-align: center;
    color: #333333;
    font-size: 22px;
    font-family: 'HiraginoSansGB W3';
  }
  .make-img2{
    padding-top: 38px;
    box-sizing: border-box;
  }
  .make-word-one-color{
    color: #b8414e;
  }
  .make-word-two-color{
    color: #1d3507;
  }
  .make-word-three-color{
    color: #7b5f14;
  }
  .sellers{
    width: 1202px;
    height: 236px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 30px;
    border: 1px solid #f3f3f3;
  }
  .sellers-header{
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #f3f3f3;
    line-height: 52px;
    color: #333333;
    font-size: 24px;
    padding-left: 20px;
  }
  .sellers-content{
    width: 100%;
    height: 184px;
    display: flex;
  }
  .sellers-item{
    width: 20%;
    height: 184px;
    border-right: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sellers-item img {
    width: 100%;
    height: 50%;
  }
  .sellers-item:last-child{
    border: none;
  }
  .Clothes{
    width: 1202px;
    height: 565px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
    display: flex;
  }
  .Clothes-word{
    width: 100%;
    line-height: 36px;
    color: #333333;
    font-size: 24px;
    text-align: center;
    margin-top: 52px;
  }
  .Clothes-word2{
    width: 100%;
    line-height: 27px;
    color: #333333;
    font-size: 16px;
    text-align: center
  }
  .Clothes-left{
    width: 358px;
    height: 565px;
    background-color: #e7e7e7;
  }
  .Clothes-img{
    width: 358px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .Clothes-img img{
    width: 293px;
    height: 191px;
  }
  .Clothes-bottom{
    width: 358px;
    height: 239px;
    padding-top: 66px;
    box-sizing: border-box;
  }
  .Clothes-all{
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin-bottom: 12px;
  }
  .Clothes-content{
    width: 250px;
    margin: 0 auto;
  }
  .Clothes-all:last-child{
    margin-bottom: 0;
  }
  .Clothes-bottom-item{
    width: 45%;
    height: 32px;
    border: 1px solid #120808;
    border-radius: 15px;
    color: #120808;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    float: left;
  }
  .Clothes-bottom-item a{
    color: #120808;
  }
  .Clothes-right{
    width: 845px;
    height: 565px;
    display: flex;
    flex-wrap: wrap;
  }
  .Clothes-right-item{
    width: 33.3%;
    height: 279px;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
  .Clothes-right-item:nth-child(3){
    border-right: none;
  }
  .Clothes-right-item:nth-child(6){
    border-right: none;
    border-bottom: none;
  }
  .Clothes-right-item:nth-child(4){
    border-bottom: none;
  }
  .Clothes-right-item:nth-child(5){
    border-bottom: none;
  }
  .Clothes-right-word{
    width: 100%;
    line-height: 38px;
    text-align: center;
    font-size: 22px;
    color: #333333;
    margin-top: 17px;
  }
  .Clothes-right-word2{
    width: 100%;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    color: #666666;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
  }
  .Clothes-right-img{
    width: 100%;
    height: 192px;
  }
  .Clothes-right-img a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Clothes-right-img img{
    width: 70%;
    height: 192px;
  }
  .Clothes-commodity{
    width: 100%;
    height: 187px;
    padding: 11px 39px;
    margin-top: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Clothes-commodity img{
    width: 100%;
    height: 187px;
  }
  .Clothes-commodity-word{
    width: 100%;
    line-height: 31px;
    color: #666666;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .Clothes-commodity-word2{
    width: 100%;
    line-height: 36px;
    color: #e31436;
    font-size: 24px;
    text-align: center;
  }
  .itemHover{
    bottom: 0;
  }
  .commodityImg{
    width: 164px;
    height: 138px;
  }
  .commodityImg img{
    width: 100%;
    height: 100%;
  }
  .ShoppingHover{
    border: 1px solid #ff3f40;
  }
  .siedCart-content{
    width: 233px;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
  .siedCart-content-item{
    width: 100%;
    height: 88px;
    background: #ffffff;
    margin-bottom: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .siedCart-content-item-img{
    width: 54px;
    height: 54px;
    border: 1px solid #eeeeee
  }
  .siedCart-content-item-img img{
    width: 52px;
    height: 52px;
  }
  .siedCart-content-item-word{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Introduce{
    width: 100%;
    line-height: 20px;
    font-size: 12px;
    color: #333333;
    padding-left: 7px;
  }
  .Introduce-word{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .Introduce-word-price{
    color: #ff4040;
    font-size: 14px;
  }
  .Introduce-word-del{
    color: #47a6ff;
    font-size: 12px;
  }
  .Introduce-title a{
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    color: #333333;
  }
  .siedCart-content-item-bottom{
    width: 100%;
    height: 42px;
    position: absolute;
    bottom: 45px;
    display: flex;
  }
  .siedCart-content-item-bottom-left{
    width: 156px;
    height: 42px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .siedCart-content-item-bottom-right{
    width: 97px;
    height: 42px;
    background: #e23535;
    line-height: 42px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
  }
  .siedCart-color{
    color: #ff3f40;
  }
  .siedCart-weight{
    font-weight: 600
  }